/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-dark-white: #f1f3f4;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #c7c7c7;
  --color-black: #000000;
  --document-bg-color: #68686850;
  --color-red: #ff0000;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  cursor: default;
  background-color: var(--color-dark-white);
  height: 100vh;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 0;
}

i {
  padding-right: 24px;
  font-size: 1.25rem;
}

dialog,
iframe {
  border: none;
}

/* body */
.container {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  height: 100%;
  margin: auto;
  flex: 1;
  background-color: var(--color-white);
}

.navbar {
  flex-basis: 18%;
  padding: 0 24px;
}

.navbar__tab {
  margin: 24px 0;
}

.navbar__item {
  padding: 10px 0;
  font-size: 1rem;
  color: var(--color-grey);
  cursor: pointer;
}

.navbar__item:hover,
.close:hover,
.dialog__submit:hover {
  color: var(--color-black);
  font-weight: 600;
}

.contents {
  overflow-y: auto;
  flex-basis: 82%;
  flex-shrink: 1;
  padding: 24px;
  background-color: pink;
}

/* Dialog */
.dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--document-bg-color);
}

.dialog__container {
  display: flex;
  flex-direction: column;
  width: 32rem;
  height: 18rem;
  border-radius: 6px;
  background-color: var(--color-white);
  box-shadow: -1px 3px 16px 0px rgba(50, 50, 50, 0.3);
}

#dialog__body {
  display: flex;
  flex: 1 1 80%;
  font-size: 1.2rem;
  justify-content: center;
  align-content: center;
}

.input__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 2rem 3rem;
}

.btn__container {
  display: flex;
  flex: 1 1 20%;
  flex-direction: row;
  justify-content: space-around;
}

.close,
.dialog__submit {
  font-size: 1rem;
  width: 5rem;
  border-radius: 6px;
  color: var(--color-grey);
}

input,
textarea {
  outline-style: none;
  border: none;
  border-radius: 6px;
  background-color: var(--color-dark-white);
  font-size: 1rem;
  width: 100%;
}

input {
  height: 1.4rem;
}

textarea {
  height: 100%;
  letter-spacing: 1px;
}

label {
  display: block;
  margin: 2px;
  font-weight: 600;
}

.form__container {
  margin: 4px;
}

/* page-item */
.page {
  display: flex;
  flex-wrap: wrap;
}

.page-item {
  width: 330px;
  margin: 0.8rem;
}

.delete {
  position: relative;
  bottom: -30px;
  left: 300px;
}

.delete:hover {
  transform: scale(1.5);
  color: var(--color-red);
}

/* item */
.img,
.video,
.note,
.todo {
  background-color: var(--color-white);
  padding: 1rem;
  border-radius: 6px;
}

.img__thumbnail,
.video__url {
  border-radius: 6px;
}

.img__holder,
.video__holder {
  display: flex;
  justify-content: center;
}

.todo__container {
  display: flex;
  flex-direction: row;
}
.todo__checkbox {
  width: 12px;
  margin-right: 6px;
}
